body{
    background-image: 
    url(TN-fr-20231023-popsignuptwoweeks-perspective_alpha_website_large\ -\ Copie.jpg);
    opacity: 0.9;

}

main{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7))url(TN-fr-20231023-popsignuptwoweeks-perspective_alpha_website_large\ -\ Copie.jpg);
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;
}
.logo{
    transform: scale(0.59);
    position: absolute;
    left: 5%;

    
}
.lan{
     opacity: 0.9;
     background-color: black;
     color: white;
     padding: 10px;
     border-radius: 5px;
     width: 70px;
     position: absolute;
     top: 3%;
     left: 80%;
     text-align: right;
     border: black;
}
.sign{
    opacity: 0.9;
    background-color: rgb(185, 19, 19);
    color: white;
    padding: 10px;
    border-radius: 5px ;
    border: red;
    width: 70px;
    position: absolute;
    top: 3%;
    left: 87%;
    text-align: right;
}
/* header{
    padding-left: 80px;
    padding-right: 80px;
} */
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    transform: scale(1.9);
    text-align: center;
    position: absolute;
    top: 40%;
    left: 35%;
    font-weight: bold;


}
.p1{
    color: white;
    transform: scale(1.8);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 45%;
    font-family: Arial, Helvetica, sans-serif;


}
.p2{
    font-family: Arial, Helvetica, sans-serif;
    transform: scale(1.7);
    color: white;
    position: absolute;
    top: 55%;
    left: 40%;
}
.email{
    width: 20%;
    padding: 20px;
    display: inline-block;
    border: rgb(213, 210, 210);
    opacity: 0.8;
    background-color: black;
    color: white;
    position: absolute;
    top: 62%;
    left: 32%;

}
.btn{
    color: white;
    background-color: red;
    border: red;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    text-align: center;
    padding: 16px;
    position: absolute;
    top: 62%;
    left: 55%;
    padding-right: 40px;
}