/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Style the header */
header {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 20px;
    transition: transform 0.3s
    
}
header:hover{
    transform: scale(1.2); 
    
}

/* Style the navigation menu */
nav ul {
    list-style-type: none;
    text-align: center;
    background-color: #000000;
    padding: 20px;
}

nav ul li {
    display: inline;
    margin: 90px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

/* Style the main content */
main {
    padding: 20px;
}

/* Style the footer */
footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 10px;
}
table{
    width: 100%;
    border-radius: 8px;
 
}
tr{
    height: 220px;
    text-align: center;
    border-radius: 4px;
    text-decoration: solid;
    color: rgb(0, 0, 0);
    font-family: 'IBM Plex Sans Arabic', cursive;
    
}
.td1:hover{ 
              background-color: rgb(0, 0, 0);
              text-align: center;
              background-color: #000000;
              padding: 20px;
              color: #fff;
              font-family: 'IBM Plex Sans Arabic', cursive;
              font-size: 36px;
              font-weight: bold;
              margin-bottom: 10px;
              font-size: 18px;
              line-height: 1.5;
              box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
              border-radius: 4px;

}
.h1w{
    font-family: 'IBM Plex Sans Arabic', cursive;

}
img{
    width: 50px;
 }
 a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

 }
 .imginsta{
 
 
        width: 30px; 
        height: auto; 
        position: absolute;
        top: 165px;
    


 }