body {
  background-color: white;
}
div {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
 
.form1 {
  width: 100%;
  padding: 12px 12px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.form2 {
  width: 100%;
  padding: 12px 12px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 50%;
}

.form3 {
  width: 100%;
  padding: 12px 12px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 50%;
}
.num {
  width: 100%;
  padding: 12px 12px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 50%;
}
.label1 {
  color: rgb(0, 0, 0);
  font-size: large;
  font-weight: bold;
  text-align: center;
}
.bott {
  width: 30%;
  padding: 12px;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 80%;
  position: absolute;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #000000;
  color: #fff;
  transition: transform 0.3s;
}
.bott1 {
  width: 40%;
  padding: 12px;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 80%;
  position: relative;
  left: 120px;
  color: rgb(0, 0, 0);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #000000;
  color: #fff;
  text-decoration: solid;
  transition: transform 0.3s;
}

header {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
  transition: transform 0.3s;
}
header:hover {
  transform: scale(1.2);
}
nav{
    margin-top: -17px;
}
nav ul {
  list-style-type: none;
  text-align: center;
  background-color: #000000;
  padding: 20px;
}

nav ul li {
  display: inline;
  padding: 100px;
}

nav a {
  color: #fff;
  text-decoration: none;
}
footer {
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 10px;
  transform: translateY(600px);
}
img {
  width: 50px;
}
h1 {
  font-family: "IBM Plex Sans Arabic", cursive;
}
.bott1:hover {
  transform: scale(1.2);
}
.bott:hover {
  transform: scale(1.2);
}
a {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.imginsta {
  width: 30px;
  height: auto;
  position: absolute;
  top: 200px;
}
